<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity Web Player | Audio Compass</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='https://ssl-webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/jquery.min.js'></script>
    <script type="text/javascript">
    <!--
    var unityObjectUrl = "http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js";
    if (document.location.protocol == 'https:')
      unityObjectUrl = unityObjectUrl.replace("http://", "https://ssl-");
    document.write('<script type="text\/javascript" src="' + unityObjectUrl + '"><\/script>');
    -->
    </script>
    <script type="text/javascript">
    <!--
      var config = {
        width: 960, 
        height: 600,
        params: { enableDebugging:"0" }
        
      };
      var u = new UnityObject2(config);

      jQuery(function() {

        var $missingScreen = jQuery("#unityPlayer").find(".missing");
        var $brokenScreen = jQuery("#unityPlayer").find(".broken");
        $missingScreen.hide();
        $brokenScreen.hide();
        
        u.observeProgress(function (progress) {
          switch(progress.pluginStatus) {
            case "broken":
              $brokenScreen.find("a").click(function (e) {
                e.stopPropagation();
                e.preventDefault();
                u.installPlugin();
                return false;
              });
              $brokenScreen.show();
            break;
            case "missing":
              $missingScreen.find("a").click(function (e) {
                e.stopPropagation();
                e.preventDefault();
                u.installPlugin();
                return false;
              });
              $missingScreen.show();
            break;
            case "installed":
              $missingScreen.remove();
            break;
            case "first":
            break;
          }
        });
        u.initPlugin(jQuery("#unityPlayer")[0], "test4.unity3d");
      });
    -->
    </script>
    <style type="text/css">
    <!--
    body {
      font-family: Helvetica, Verdana, Arial, sans-serif;
      background-color: white;
      color: black;
      text-align: center;
    }
    a:link, a:visited {
      color: #000;
    }
    a:active, a:hover {
      color: #666;
    }
    p.header {
      font-size: small;
    }
    p.header span {
      font-weight: bold;
    }
    p.footer {
      font-size: x-small;
    }
    div.content {
      margin: auto;
      width: 960px;
    }
    div.broken,
    div.missing {
      margin: auto;
      position: relative;
      top: 50%;
      width: 193px;
    }
    div.broken a,
    div.missing a {
      height: 63px;
      position: relative;
      top: -31px;
    }
    div.broken img,
    div.missing img {
      border-width: 0px;
    }
    div.broken {
      display: none;
    }
    div#unityPlayer {
      cursor: default;
      height: 600px;
      width: 960px;
    }
    -->
    </style>
  </head>
  <body>
    <p class="header"><span>Unity Web Player | </span>Audio Compass</p>
    <div class="content">
      <div id="unityPlayer">
        <div class="missing">
          <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
            <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
          </a>
        </div>
        <div class="broken">
          <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now! Restart your browser after install.">
            <img alt="Unity Web Player. Install now! Restart your browser after install." src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63" />
          </a>
        </div>
      </div>
    </div>

    <div id="canvas">Input the POI's. Your position is the center of the circle, click on where you perceive the POI's are with respect to you. <br/></div>

    <button onclick="Answer()" type="button" class="btn btn-success">Answer</button>
    <button onclick="answerClear()" type="button" class="btn btn-primary">Clear</button>
    <p class="footer">&laquo; created with <a href="http://unity3d.com/unity/" title="Go to unity3d.com">Unity</a> &raquo;</p>
  </body>

  <script>
(function() {
  var answers = []
  var currentAnswer = []
    // Creates a new canvas element and appends it as a child
    // to the parent element, and returns the reference to
    // the newly created canvas element
    function createCanvas(parent, width, height) {
        var canvas = {};
        canvas.node = document.createElement('canvas');
        canvas.context = canvas.node.getContext('2d');
        canvas.node.width = width || 100;
        canvas.node.height = height || 100;
        parent.appendChild(canvas.node);
        return canvas;
    }
    function init(container, width, height, fillColor) {
        var canvas = createCanvas(container, width, height);
        var ctx = canvas.context;
        console.log(width/2);
        console.log(height/2);

        answerClear = function() {
      console.log('clear');
          ctx.clearTo(fillColor || "#d3d3d3");
          var fillColor = '#bdbdbd';
          ctx.fillCircle(height/2, width/2, height/2, fillColor);
          fillColor = '#ADD8E6';
          ctx.fillCircle(height/2, width/2, 5, fillColor);
          var fillColor = '#ff0000';
          currentAnswer = [];
      }

      Answer = function() {
        if(currentAnswer.length != 0) {
          answers.push(currentAnswer);
        }
        console.log(answers);
        answerClear();
      }

        // define a custom fillCircle method
        ctx.fillCircle = function(x, y, radius, fillColor) {
            this.fillStyle = fillColor;
            this.beginPath();
            this.moveTo(x, y);
            this.arc(x, y, radius, 0, Math.PI * 2, false);
            this.fill();
        };
        ctx.clearTo = function(fillColor) {
            ctx.fillStyle = fillColor;
            ctx.fillRect(0, 0, width, height);
        };
        ctx.clearTo(fillColor || "#d3d3d3");
        var fillColor = '#bdbdbd';
        ctx.fillCircle(height/2, width/2, height/2, fillColor);
        fillColor = '#ADD8E6';
        ctx.fillCircle(height/2, width/2, 5, fillColor);
        var fillColor = '#ff0000';

     
        clearAnswer = function() {
          answers.push(currentAnswer);
        }

        // bind mouse events
        canvas.node.onmouse = function(e) {
            if (!canvas.isDrawing) {
               return;
            }
            var x = e.pageX - this.offsetLeft;
            var y = e.pageY - this.offsetTop;
            var radius = 10; // or whatever
            var fillColor = '#ff0000';
            ctx.fillCircle(x, y, radius, fillColor);
        };
        canvas.node.onmousedown = function(e) {
            canvas.isDrawing = true;
            var x = e.pageX - this.offsetLeft;
            var y = e.pageY - this.offsetTop;
            var radius = 5; // or whatever
            var fillColor = '#ff0000';
            ctx.fillCircle(x, y, radius, fillColor);
            currentAnswer.push([x,y])
            console.log(currentAnswer)
        };

        canvas.node.onmouseup = function(e) {
            canvas.isDrawing = false;
        };
    }

    var container = document.getElementById('canvas');
    init(container, 200, 200, '#d3d3d3');

})();
</script>

</html>
